/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "Afacad Flux";
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1C1818;
  padding: 24px 200px;
}
.top-header ul.text {
  display: flex;
  gap: 40px;
  color: #e2e2e2;
  font-size: 20px;
  font-family: "Afacad Flux";
  font-weight: 450;
}
.top-header ul.text p {
  margin: 0;
}
.top-header ul.icon {
  display: flex;
  gap: 40px;
}
.top-header ul.icon i {
  color: #e2e2e2;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.top-header ul.icon i:hover {
  color: #dc3545;
}
@media (max-width: 1024px) {
  .top-header {
    padding: 24px 100px;
  }
  .top-header ul.text {
    font-size: 18px;
    gap: 30px;
  }
  .top-header ul.icon i {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .top-header {
    flex-direction: column;
    padding: 24px 20px;
    gap: 20px;
  }
  .top-header ul.text {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 16px;
  }
  .top-header ul.icon {
    gap: 20px;
  }
  .top-header ul.icon i {
    font-size: 16px;
  }
}

* {
  font-family: "Roboto";
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 200px;
  background-color: #fff;
  font-family: "Afacad Flux";
}
.main-header img {
  height: 36px;
}
.main-header ul.pages {
  display: flex;
  gap: 50px;
  list-style: none;
}
.main-header ul.pages p a {
  margin: 0;
  font-size: 22px;
  font-weight: 450;
  color: #1a2b48;
  cursor: pointer;
  position: relative;
}
.main-header ul.pages p a:hover {
  color: #dc3545;
}
.main-header ul.pages p a:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #ff0000;
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 0;
}
.main-header ul.pages p a:hover:after {
  width: 100%;
}
.main-header .hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}
.main-header .hamburger span {
  width: 30px;
  height: 3px;
  background-color: #1a2b48;
  transition: background-color 0.3s;
}
.main-header .hamburger:hover span {
  background-color: #dc3545;
}
@media (max-width: 1024px) {
  .main-header {
    padding: 30px 100px;
  }
  .main-header ul.pages {
    gap: 30px;
  }
  .main-header ul.pages p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .main-header {
    padding: 30px 50px;
  }
  .main-header ul.pages {
    display: none;
  }
  .main-header .hamburger {
    display: flex;
  }
  .main-header.menu-open ul.pages {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: #fff;
    padding: 20px 0;
    gap: 20px;
  }
  .main-header.menu-open ul.pages p {
    text-align: center;
  }
}

.care-part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 50px;
  height: 610px;
  background: url("https://preview.colorlib.com/theme/anipat/img/banner/banner.png.webp") no-repeat;
  overflow: visible;
  background-size: contain;
  font-family: "Afacad Flux";
}
.care-part p {
  margin: 0;
  padding-left: 200px;
  color: white;
  font-family: "Afacad Flux";
  font-weight: 100;
}
.care-part p:first-child {
  font-size: 90px;
}
.care-part p:nth-child(2) {
  font-size: 90px;
  font-weight: 900;
  margin: 10px 0;
}
.care-part p:nth-child(3) {
  font-size: 20px;
  width: 50%;
  line-height: 1;
  margin-bottom: 20px;
  font-weight: 300;
}
.care-part p:nth-child(4) {
  font-size: 20px;
  width: 50%;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 20px;
}
.care-part button {
  font-family: "Afacad Flux";
  background-color: white;
  color: #dc3545;
  font-size: 18px;
  padding: 18px 60px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 200px;
  margin-top: 25px;
}
.care-part button:hover {
  background-color: red;
  color: white;
}
.care-part img {
  position: absolute;
  bottom: -300px;
  right: 120px;
  width: 800px;
}

.services h3 {
  text-align: center;
  font-size: 60px;
  font-family: "Afacad Flux";
  margin-top: 300px;
  font-weight: 800;
  color: #191D34;
}
.services p {
  text-align: center;
  font-size: 20px;
  font-family: "Afacad Flux";
  font-weight: 300;
  margin-top: 20px;
  color: gray;
}
.services .second {
  margin-top: 6px;
}
.services .cards {
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services .cards .card {
  border: 0.2px solid orange;
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 50px 60px;
  border-radius: 12px;
  transition: width 1sn;
}
.services .cards .card img {
  width: 200px;
  margin: 0 auto;
}
.services .cards .card h5 {
  text-align: center;
  font-size: 30px;
  font-family: "Afacad Flux";
  font-weight: 500;
  margin-top: 20px;
}
.services .cards .card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: none;
}

.wecare {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}
.wecare .image {
  display: flex;
  height: 450px;
  margin-left: 200px;
}
.wecare .text {
  margin-left: 100px;
  margin-top: 50px;
  text-align: left;
  margin-right: 200px;
}
.wecare .text h5 {
  color: #191D34;
  font-size: 70px;
  font-family: "Afacad Flux";
  font-weight: 200;
  margin-top: 20px;
}
.wecare .text h4 {
  color: #191D34;
  font-size: 70px;
  font-family: "Afacad Flux";
  font-weight: 700;
}
.wecare .text p {
  font-family: "Afacad Flux";
  font-size: 20px;
  color: grey;
  margin-top: 30px;
}
.wecare .text button {
  font-family: "Afacad Flux";
  background: orangered;
  border-radius: 40px;
  color: white;
  border: none;
  font-size: 20px;
  padding: 15px 60px;
  margin-top: 15px;
  font-weight: 500;
}

.content {
  margin-top: 300px;
}
@media (max-width: 1024px) {
  .content {
    margin-top: 200px;
  }
}
@media (max-width: 600px) {
  .content {
    margin-top: 100px;
  }
}

h2 {
  font-family: "Afacad Flux";
  color: #191D34;
  font-size: 70px;
  font-weight: 200;
  margin-bottom: 16px;
  padding-left: 0px;
}
h2 strong {
  font-weight: 800;
}
@media (max-width: 1024px) {
  h2 {
    font-size: 50px;
  }
}
@media (max-width: 600px) {
  h2 {
    font-size: 40px;
  }
}

p {
  font-family: "Afacad Flux";
  color: #555;
  font-size: 20px;
  line-height: 1.6;
}
@media (max-width: 600px) {
  p {
    font-size: 18px;
  }
}

a {
  font-family: "Afacad Flux";
  text-decoration: none;
}

.adopt-section {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  gap: 10px;
}
@media (max-width: 1024px) {
  .adopt-section {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 600px) {
  .adopt-section {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.adopt-section .content {
  max-width: 400px;
}
.adopt-section .container {
  display: flex;
  gap: 40px;
}
@media (max-width: 600px) {
  .adopt-section .container {
    flex-direction: column;
    gap: 20px;
  }
}
.adopt-section .contact-btn {
  display: inline-block;
  padding: 15px 40px;
  background: linear-gradient(to right, #ff5722, #ee3900);
  color: white;
  border-radius: 20px;
  font-size: 20px;
  margin-top: 20px;
  transition: background 0.3s ease;
}
.adopt-section .contact-btn:hover {
  background: #d53300;
}
@media (max-width: 1024px) {
  .adopt-section .contact-btn {
    padding: 12px 30px;
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .adopt-section .contact-btn {
    padding: 10px 25px;
    font-size: 16px;
  }
}
.adopt-section .card-container1, .adopt-section .card-container2 {
  text-align: center;
  margin-top: 300px;
  display: flex;
  justify-content: space-around;
  gap: 50px;
}
@media (max-width: 1024px) {
  .adopt-section .card-container1, .adopt-section .card-container2 {
    display: none;
  }
}
@media (max-width: 600px) {
  .adopt-section .card-container1, .adopt-section .card-container2 {
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
    padding-left: 0;
  }
}
.adopt-section .card-container2 {
  display: block;
}
.adopt-section .card-container1 {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 50%;
  margin-top: 350px;
}
.adopt-section .card {
  display: block;
  text-align: center;
  margin-top: 40px;
  background-color: white;
  border-radius: 20px;
  padding: 30px 70px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  flex: 1;
}
.adopt-section .card img {
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
}
.adopt-section .card .number1, .adopt-section .card .number, .adopt-section .card .plus {
  font-size: 80px;
  font-weight: bold;
  color: #191D34;
}
@media (max-width: 1024px) {
  .adopt-section .card .number1, .adopt-section .card .number, .adopt-section .card .plus {
    font-size: 60px;
  }
}
@media (max-width: 600px) {
  .adopt-section .card .number1, .adopt-section .card .number, .adopt-section .card .plus {
    font-size: 40px;
  }
}
.adopt-section .card p {
  margin: 0;
}

.slider-container {
  max-width: 1000px;
  margin: 200px;
  position: relative;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.slider-container .slider {
  display: flex;
  transition: transform 0.4s ease-in-out;
}
.slider-container .slider .slide {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 30px;
  padding-right: 30px;
  opacity: 0.3;
  transition: opacity 0.4s ease-in-out;
}
.slider-container .slider .slide.active {
  opacity: 1;
}
.slider-container .slider .slide .profile-img {
  border-radius: 50%;
  margin-right: 20px;
  width: 200px;
  height: 200px;
}
.slider-container .slider .slide .testimonial-content {
  font-family: "Afacad Flux";
}
.slider-container .slider .slide .testimonial-content h3 {
  font-size: 25px;
  margin-bottom: 5px;
  font-weight: 600;
}
.slider-container .slider .slide .testimonial-content h4 {
  font-size: 20px;
  color: gray;
  margin-bottom: 10px;
}
.slider-container .slider .slide .testimonial-content p {
  font-size: 26px;
  color: #666;
}
.slider-container .navigation {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
}
.slider-container .navigation .nav-button {
  cursor: pointer;
  font-size: 24px;
  color: black;
}
.slider-container .navigation .nav-button:hover {
  color: #333;
}

.ourteam {
  font-family: "Afacad Flux";
  text-align: center;
}

.textcontainer {
  width: 50%;
  margin-left: 25%;
  text-align: center;
}
.textcontainer h3 {
  color: #191D34;
  font-size: 80px;
  font-weight: 600;
}
.textcontainer p {
  font-size: 20px;
  font-weight: 200;
  color: grey;
}
@media (max-width: 1024px) {
  .textcontainer {
    width: 70%;
    margin-left: 15%;
  }
  .textcontainer h3 {
    font-size: 60px;
  }
  .textcontainer p {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .textcontainer {
    width: 90%;
    margin-left: 5%;
  }
  .textcontainer h3 {
    font-size: 40px;
  }
  .textcontainer p {
    font-size: 16px;
  }
}

.profile-container {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.profile-container .profile-card {
  position: relative;
  width: 30%;
}
.profile-container .profile-card:hover .profile-info {
  transform: translate(0, -50px);
}
.profile-container .profile-card img {
  z-index: -1;
  width: 100%;
  border-radius: 10px;
}
.profile-container .profile-card .profile-info {
  cursor: pointer;
  position: relative;
  z-index: 999;
  background-color: whitesmoke;
  margin-left: 25%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  transition: transform 0.3s ease;
  transform: translate(0, -35px);
}
.profile-container .profile-card .profile-info h3 {
  font-size: 32px;
  font-weight: 400;
}
.profile-container .profile-card .profile-info p {
  font-size: 20px;
  font-weight: 200;
}
@media (max-width: 1024px) {
  .profile-container {
    flex-direction: column;
    align-items: center;
  }
  .profile-container .profile-card {
    width: 60%;
  }
  .profile-container .profile-card .profile-info {
    width: 70%;
    margin-left: 15%;
  }
  .profile-container .profile-card .profile-info h3 {
    font-size: 28px;
  }
  .profile-container .profile-card .profile-info p {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .profile-container .profile-card {
    width: 90%;
  }
  .profile-container .profile-card .profile-info {
    width: 80%;
    margin-left: 10%;
  }
  .profile-container .profile-card .profile-info h3 {
    font-size: 24px;
  }
  .profile-container .profile-card .profile-info p {
    font-size: 16px;
  }
}

.whygo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  height: 600px;
  background: url("https://preview.colorlib.com/theme/anipat/img/banner/contact_bg.png") no-repeat;
  text-align: center;
  background-size: contain;
  font-family: "Afacad Flux";
  width: 100%;
  justify-content: center;
}
.whygo .why {
  font-weight: 600;
  font-size: 80px;
  color: aliceblue;
  margin: 0 auto;
  justify-content: center;
}
.whygo .context {
  width: 50%;
  margin-top: 40px;
  line-height: 1.5;
  font-weight: 300;
  font-size: 30px;
  color: aliceblue;
}
.whygo p {
  color: aliceblue;
  font-size: 20px;
}
.whygo p b {
  font-weight: 600;
}
.whygo button {
  font-family: "Afacad Flux";
  background-color: white;
  color: #dc3545;
  font-size: 18px;
  padding: 18px 60px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 2px;
  transition: background-color 0.3s ease;
  margin-top: 25px;
}
.whygo button:hover {
  background-color: red;
  color: white;
}

footer {
  background-color: #f9f9f9;
  padding: 40px 0;
  font-family: Arial, sans-serif;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
footer .footer-container .footer-section {
  flex-basis: 23%;
}
footer .footer-container .footer-section h3 {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 600;
}
footer .footer-container .footer-section p {
  margin: 8px 0;
  font-size: 18px;
  color: #666;
}
footer .footer-container .footer-section p:hover {
  color: orangered;
}
footer .footer-container .footer-section .footer-logo img {
  width: 150px;
}
footer .footer-container .footer-section .footer-logo address {
  font-style: normal;
  font-size: 20px;
  color: #666;
  margin-top: 15px;
}
footer .footer-container .footer-section .social-icons {
  margin-top: 20px;
}
footer .footer-container .footer-section .social-icons a {
  color: #666;
  margin-right: 15px;
  font-size: 30px;
  text-decoration: none;
}
footer .footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 15px;
  color: #666;
}
footer .footer-bottom span {
  color: red;
}
footer .footer-bottom p {
  font-size: 24px;
  margin: 0;
}

.about-us {
  text-align: center;
  height: 353px;
  margin: 0 auto;
  color: white;
  background-image: url("https://preview.colorlib.com/theme/anipat/img/banner/bradcam.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-us h1 {
  padding: 100px;
  font-size: 80px;
  font-weight: bold;
  font-family: "Afacad Flux", sans-serif;
  margin: 0;
  transform: translateY(-50%);
}

iframe {
  width: 76%;
  height: 400px;
  margin: 0 auto;
  margin-top: 100px;
  margin-left: 12%;
}

.contact-section {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  display: grid;
  grid-template-columns: 2fr 1fr; /* Form takes 2/3 of the space, info 1/3 */
  gap: 20px;
  font-family: "Afacad Flux";
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.contact-section .form-part {
  margin-right: 30px;
}
.contact-section .form-part h1 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 10px;
}
.contact-section .form-part form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact-section .form-part form textarea, .contact-section .form-part form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  resize: none;
}
.contact-section .form-part form textarea:focus, .contact-section .form-part form input:focus {
  border-color: #ff6347;
  outline: none;
}
.contact-section .form-part form .input-fields {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.contact-section .form-part form .input-fields input {
  width: calc(50% - 7.5px); /* For side by side fields */
}
.contact-section .form-part form .send-btn {
  padding: 10px;
  background-color: transparent;
  color: #ff6347;
  border: 2px solid #ff6347;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.contact-section .form-part form .send-btn:hover {
  background-color: #ff6347;
  color: #fff;
}
.contact-section .contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  font-size: 14px;
}
.contact-section .contact-info p {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact-section .contact-info p .icon {
  font-size: 20px;
}/*# sourceMappingURL=main.css.map */